.page-label {
  padding: 194px 0 277px;
  color: @menu;
  // background-color: @backing;
}

.page-label__title {
  .clear();
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 54px;
  line-height: 66px;
}

.page-label__slogan {
  .clear();
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

@media (max-width: @tablet-width) {
  .page-label {
    padding: 214px 0 276px;
  }

  .page-label__title {
    margin-bottom: 12px;
    font-size: 50px;
    line-height: 61px;
  }

  .page-label__slogan {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: @mobile-width) {
  .page-label {
    padding: 130px 0 178px;

    &--nojs {
      padding: 88px 0 178px;
      background-image: url("../img/antarctic_mobile.jpg");
      background-repeat: no-repeat;
      background-size: 100% 500px;
    }
  }

  .page-label__image {
    height: 500px;
  }

  .page-label__title {
    margin-bottom: 12px;
    font-size: 36px;
    line-height: 45px;
  }

  .page-label__slogan {
    font-size: 16px;
    line-height: 22px;
  }
}
